.body {
    width: calc(100% - 3rem);
    height: 100vh;
    margin-left: 3rem;
    padding: 5px;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #b3b3b3;
}

.body-trimmed {
    width: calc(100% - 13.5625rem);
    margin-left: 13.5625rem;
}

.body-md-screen {
    width: calc(100% - 3rem);
    margin-left: 3rem;
}