<div class="title">
  <i class="bi bi-check-circle me-2"></i>Validation Métier
</div>
<div class="row">
  <div class="col-md-9 pe-1">
    <div class="content-lg">
      <div class="sub-title mb-0">ACTE : {{ content.lblAction }}</div>
      <ng-container *ngIf="content.id">
        <div class="row metier-acte pb-0">
          <div class="col-md-1 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">ID</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.id_interaction }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Description</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.description_courte }}
            </p>
          </div>

          <div class="col-md-4 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Commentaire</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.commentaire }}
            </p>
          </div>

          <div class="col-md-2 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Raison</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.lblraison }}
            </p>
          </div>

          <div class="col-md-2 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Etat</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.etat }}
            </p>
          </div>
        </div>
        <div class="row metier-acte pb-0">
          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">
              Date de création
            </p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.date_creation }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">
              Date d'activation
            </p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.date_prise_compte }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Initiateur</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.initiateur }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Nom du fichier</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.nom_fichier }}
            </p>
          </div>
        </div>

        <div class="row metier-acte pb-0">
          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">
              Date de modification
            </p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.dateCM }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">Etape</p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.etape }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">
              Nombre de ligne
            </p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              {{ content.nbligne }}
            </p>
          </div>

          <div class="col-md-3 px-1 d-flex flex-column">
            <p class="child-title rounded-top ps-2 py-1 mb-0">
              Date de prise en compte
            </p>
            <p class="child-content rounded-bottom px-2 py-1 mb-0">
              <i
                *ngIf="content.checkdatepriseencompte == 'true'"
                class="bi bi-check-lg"
              ></i>
              <i
                *ngIf="content.checkdatepriseencompte == 'false'"
                class="bi bi-x-lg"
              ></i>
            </p>
          </div>
        </div>
      </ng-container>

      <div class="metier-table">
        <table
          *ngIf="
            content.idAction === 3 ||
            content.idAction == 12 ||
            content.idAction == 13
          "
          class="table table-sm table-striped mt-3"
        >
          <thead>
            <tr>
              <th>MSISDN</th>
              <th>CLIENT</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of content.input.liste">
              <td>
                {{ item.msisdn }}
              </td>
              <td>
                {{ item.client }}
              </td>
              <td>
                {{ item.s_msisdn }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="content">
      <div class="sub-title-green mb-0">VALIDATEUR</div>
      <div class="d-flex align-items-end mt-2">
        <div class="example-wrapper me-3">
          <div>
            <label for="date" class="form-check-label"
              ><strong>Date de prise en compte</strong></label
            >
          </div>
          <kendo-datetimepicker format="dd/MM/yyyy HH:mm:ss" [(value)]="date">
          </kendo-datetimepicker>
        </div>

        <div class="me-3">
          <label for="comValidateur"
            ><strong>Commentaire du validateur</strong></label
          >
          <textarea
            class="form-control"
            id="comValidateur"
            placeholder="Commentaire"
            rows="1"
            cols="50"
            [(ngModel)]="comValidateur"
          ></textarea>
        </div>

        <div class="d-flex align-items-end justify-content-end">
          <button class="btn btn-danger" (click)="rejeter()">
            <i class="bi bi-x-circle me-2"></i>Rejeter
          </button>
          <div class="ms-2">
            <div>
              <input
                type="checkbox"
                id="date"
                class="form-check-input me-2"
                [value]="joker"
                (change)="onJokerChange($event)"
              />
              <label for="date" class="form-check-label"
                ><strong>Joker</strong></label
              >
            </div>
            <button class="btn btn-success">
              <i class="bi bi-check2-circle me-2"></i>Valider
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ps-1">
    <app-widget (onActeClick)="onActeClick($event)"></app-widget>
  </div>
</div>

<spinner></spinner>
