.content-dark-1 {
  background-color: #343a40;
  overflow-y: auto;
}

.content-dark-2 {
  background-color: #777;
}

.content-dark-1,
.content-dark-2 {
  min-height: 35.05vh;
  padding: 20px;
}

.content-gris {
  background-color: #b3b3b3;
  padding: 20px;
  height: 100px;
}

.bi-check-lg {
  color: #50be87;
  font-size: 19px;
}

.bi-x-lg {
  color: #f31212;
  font-size: 19px;
}