<div class="title">
  <i class="bi bi-check-circle me-2"></i>Validation Métier
</div>

<div class="p-3">
  <ngb-accordion
    #acc="ngbAccordion"
    class="accordion-orange"
    activeIds="config-panel-three"
  >
    <ngb-panel
      id="config-panel-three"
      [title]="'Liste MSISDN : ' + content.nbligne"
      [disabled]="!content.id"
    >
      <ng-template ngbPanelContent>
        <table
          *ngIf="
            content.idAction === 2 ||
            content.idAction === 3 ||
            content.idAction === 4 ||
            content.idAction === 5 ||
            content.idAction === 7 ||
            content.idAction === 8 ||
            content.idAction === 9 ||
            content.idAction === 11 ||
            content.idAction === 12 ||
            content.idAction === 13
          "
          class="table table-sm table-striped table-bordered"
        >
          <thead>
            <tr>
              <th>MSISDN</th>
              <th>CLIENT</th>
              <th *ngIf="content.idAction === 4">LIMIT CONSO</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of content.input.liste">
              <td>
                {{ item.msisdn }}
              </td>
              <td>
                {{ item.client }}
              </td>
              <td *ngIf="content.idAction === 4">
                {{ item.lc }}
              </td>
              <td>
                {{ item.s_msisdn }}
              </td>
            </tr>
          </tbody>
        </table>

        <table
          *ngIf="content.idAction === 1"
          class="table table-sm table-striped table-bordered"
        >
          <thead>
            <tr>
              <th>MSISDN</th>
              <th>SIM</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of content.input.liste">
              <td>
                {{ item.msisdn }}
              </td>
              <td>
                {{ item.sim }}
              </td>
            </tr>
          </tbody>
        </table>

        <table
          class="table table-sm table-striped table-bordered"
          *ngIf="content.idAction === 6"
        >
          <thead>
            <tr>
              <th scope="col">MSISDN</th>
              <th scope="col">CLIENT</th>
              <th scope="col">CUSTCODE</th>
              <th scope="col">STATUT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of content.input.liste">
              <td>{{ item.msisdn }}</td>
              <td>{{ item.client }}</td>
              <td>{{ item.csCode }}</td>
              <td class="p-0">
                <i
                  [ngClass]="
                    item.s_msisdn === 'OK' ? 'bi bi-check-lg' : 'bi bi-x-lg'
                  "
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="my-3"></div>

  <ngb-accordion
    #acc="ngbAccordion"
    class="accordion-green"
    activeIds="config-panel-four"
    *ngIf="
      
      content.idAction === 1 ||
      content.idAction === 5 ||
      content.idAction === 7 ||
      content.idAction === 9 ||
      content.idAction === 11
    "
  >
    <ngb-panel
      id="config-panel-four"
      title="Liste services"
      [disabled]="!content.id"
    >
      <ng-template ngbPanelContent>
        <p
          class="text-center text-uppercase"
          *ngIf="
            content.idAction === 1 ||
            content.idAction === 5 ||
            content.idAction === 11
          "
        >
          <strong>Plan Tarifaire : </strong>{{ content.plan_tarifaire.rpDes }}
        </p>
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Services</th>
              <th scope="col" *ngIf="content.idAction !== 11">Paramètres</th>
              <th scope="col" *ngIf="content.idAction === 11">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of content.service_param; index as i">
              <th>{{ i + 1 }}</th>
              <td>{{ service.servicename }}</td>
              <td *ngIf="content.idAction !== 11">
                <li *ngFor="let param of service.parametre">
                  {{ param.prmDes + " (" + param.valueDes + ")" }}
                </li>
              </td>
              <td *ngIf="content.idAction === 11">{{ content.parametre }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <ngb-accordion
    #acc="ngbAccordion"
    class="accordion-green"
    activeIds="config-panel-four"
    *ngIf="content.idAction === 8"
  >
    <ngb-panel
      id="config-panel-four"
      title="Liste services"
      [disabled]="!content.id"
    >
      <ng-template ngbPanelContent>
        <p class="text-uppercase">
          <strong>Plan Tarifaire : </strong>{{ content.plan_tarifaire.rpDes }}
        </p>
        <ul>
          <li *ngFor="let service of content.service_a_modifier; index as i">
            <strong
              ><span class="text-decoration-underline">Service à modifier</span> :
              {{ service.servicename }}</strong
            >
            <ul *ngIf="service.parametre">
              <li *ngFor="let param of service.parametre">
                {{ param.prmDes + " (" + param.valueDes + ")" }}
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li *ngFor="let service of content.service_param; index as i">
            <strong
              ><span class="text-decoration-underline">Service à ajouter</span> :
              {{ service.servicename }}</strong
            >
            <ul *ngIf="service.parametre">
              <li *ngFor="let param of service.parametre">
                {{ param.prmDes + " (" + param.valueDes + ")" }}
              </li>
            </ul>
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="my-3"></div>

  <ngb-accordion #acc="ngbAccordion" class="accordion-blue">
    <ngb-panel
      [title]="
        'Acte ' + (content.lblAction == '' ? '' : ': ' + content.lblAction)
      "
      [disabled]="!content.id"
    >
      <ng-template ngbPanelContent>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">Date de création</th>
              <th scope="col">Date d'activation</th>
              <th scope="col">Raison</th>
              <th scope="col">Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ content.date_creation | date : "dd/MM/yyyy HH:mm:ss" }}
              </td>
              <td>
                {{
                  content.checkdatepriseencompte === "false"
                    ? ""
                    : (content.date_prise_compte | date : "dd/MM/yyyy HH:mm:ss")
                }}
              </td>
              <td>
                {{ content.lblraison }}
              </td>
              <td [ngClass]="content.etat">{{ content.etat }}</td>
            </tr>
            <tr style="height: 30px"></tr>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Commentaire</th>
              <th scope="col">Initiateur</th>
            </tr>
            <tr>
              <td>
                {{ content.idActe }}
              </td>
              <td>
                {{ content.description_courte }}
              </td>
              <td>
                {{ content.commentaire }}
              </td>
              <td>{{ content.initiateur }}</td>
            </tr>
            <tr style="height: 30px"></tr>
            <tr>
              <th scope="col">Nom du fichier</th>
              <th scope="col">Date de modification</th>
              <th scope="col">Etape</th>
              <th scope="col">Date de prise en compte</th>
            </tr>
            <tr>
              <td>
                <a
                  class="text-decoration-none"
                  [href]="
                    apiUrl +
                    'acte-masse/download?id=' +
                    content.idActe +
                    '&file=' +
                    content.nom_fichier
                  "
                  >{{ content.nom_fichier }}</a
                >
              </td>
              <td>
                {{
                  content.checkdatepriseencompte === "false"
                    ? ""
                    : (content.dateCM | date : "dd/MM/yyyy HH:mm:ss")
                }}
              </td>
              <td>
                {{ content.etape }}
              </td>
              <td class="p-0">
                <i
                  *ngIf="content.checkdatepriseencompte == 'true'"
                  class="bi bi-check-lg"
                ></i>
                <i
                  *ngIf="
                    !content.checkdatepriseencompte ||
                    content.checkdatepriseencompte == 'false'
                  "
                  class="bi bi-x-lg"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="my-3"></div>

  <div
    class="sub-title-yellow d-flex"
    *ngIf="content.idRole == 4 || content.idRole == 2"
  >
    <span *ngIf="content.idRole == 4">Ticket renvoyé a l'initateur</span>
    <p class="ms-auto m-0">
      <button class="btn btn-warning btn-sm me-2" (click)="afficherLog()">
        <i class="bi bi-exclamation-circle me-2"></i>Afficher logs
      </button>
      <button class="btn btn-info btn-sm" (click)="afficherRetour()">
        <i class="bi bi-info-circle me-2"></i>Retour CX
      </button>
    </p>
    <!-- <span *ngIf="content.idRole == 2">En attente du validateur technique</span> -->
  </div>

  <div class="card p-3" *ngIf="content.id && content.idRole == 1">
    <div class="d-flex">
      <div
        class="example-wrapper me-3"
        *ngIf="content.checkdatepriseencompte === 'true'"
      >
        <div>
          <label for="date" class="form-check-label mb-2"
            ><strong>Date de prise en compte</strong></label
          >
        </div>
        <kendo-datetimepicker format="dd/MM/yyyy HH:mm:ss" [(value)]="date">
        </kendo-datetimepicker>
      </div>

      <div class="me-3">
        <label for="comValidateur" class="mb-2"
          ><strong>Commentaire du validateur</strong></label
        >
        <textarea
          class="form-control form-control-sm"
          id="comValidateur"
          placeholder="Commentaire"
          rows="1"
          cols="50"
          [(ngModel)]="comValidateur"
        ></textarea>
      </div>

      <div class="d-flex align-items-end justify-content-end">
        <button class="btn btn-danger btn-sm me-2" (click)="rejeter()">
          <i class="bi bi-x-circle me-2"></i>Rejeter
        </button>
        <button class="btn btn-success btn-sm me-2" (click)="valider()">
          <i class="bi bi-check2-circle me-2"></i>Valider
        </button>
        <p class="m-0" *ngIf="content.etat != 'PENDING'">
          <button class="btn btn-warning btn-sm me-2" (click)="afficherLog()">
            <i class="bi bi-exclamation-circle me-2"></i>Afficher logs
          </button>
          <button class="btn btn-info btn-sm" (click)="afficherRetour()">
            <i class="bi bi-info-circle me-2"></i>Retour CX
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
