.parametre {
  background-color: #343a40;
  padding: 20px;
  display: flex;
  color: #fff;
}

.content-lg {
  background-color: #777;
  padding: 20px;
  height: 37.5vh;
}

.content-md {
  background-color: #b3b3b3;
  padding: 20px;
  min-height: 32.5vh;
}

.bi-check-lg {
  color: #50be87;
  font-size: 19px;
}

.bi-x-lg {
  color: #f31212;
  font-size: 19px;
}
