<div class="title"><i class="bi bi-power me-2"></i>Nouvelle activation</div>
<div class="row">
  <div class="col-md-9 d-flex flex-column pe-0">
    <div class="parametre">
      <div class="col-md-3 pe-2">
        <label for="formFile" class="form-label m-0 mb-2"
          ><strong>Fichier CSV</strong></label
        >
        <input
          #inputFile
          class="form-control form-control-sm input-dark me-3"
          type="file"
          id="formFile"
          (change)="onFileChange($event)"
        />
      </div>

      <div class="col-md-3 ps-3 pe-4">
        <label class="form-label m-0 mb-2"><strong>Raison</strong></label>
        <select
          class="form-select form-select-sm input-dark"
          aria-label="Default select example"
          [(ngModel)]="selectedReason"
        >
          <option
            *ngFor="let reason of reasons"
            [ngValue]="reason"
            aria-placeholder="Raison"
          >
            {{ reason.rsDes }}
          </option>
        </select>
      </div>

      <div class="example-wrapper">
        <div>
          <input
            type="checkbox"
            id="date"
            class="form-check-input me-2"
            [value]="checkDate"
            (change)="onCheckDateChange($event)"
          />
          <label for="date" class="form-check-label mb-2"
            ><strong>Date de désactivation</strong></label
          >
        </div>
        <kendo-datetimepicker class="input-dark"
          [disabled]="!checkDate"
          format="dd/MM/yyyy HH:mm:ss"
          [(value)]="date"
        >
        </kendo-datetimepicker>
      </div>

      <div class="col-md-2 ms-4 pe-2">
        <label for="custcode" class="form-label m-0 mb-2"
          ><strong>Custcode</strong></label
        >
        <div class="input-group input-group-sm">
          <input type="text" class="form-control input-dark" [(ngModel)]="custcode" />
          <button
            [disabled]="custcode === ''"
            class="btn btn-primary"
            type="button"
            (click)="rechercheClient()"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <div class="d-flex align-items-end ms-3">
        <button
          class="btn btn-success btn-sm"
          [disabled]="disableValider()"
          (click)="valider()"
        >
          <i class="bi bi-check2-circle me-2"></i>Valider
        </button>
      </div>
    </div>
    <div class="content-lg">
      <div class="row h-100">
        <div class="col-md-4">
          <ngb-accordion
            #acc="ngbAccordion"
            class="accordion-purple accordion-h50"
            activeIds="config-panel-one"
          >
            <ngb-panel id="config-panel-one" title="Plans Tarifaires">
              <ng-template ngbPanelContent>
                <div class="accordion-contents-50">
                  <select
                    class="select-content"
                    size="84"
                    aria-label="Default select example"
                    [(ngModel)]="selectedRateplans"
                    (click)="onRateplansChange()"
                  >
                    <option
                      *ngFor="let rateplan of rateplans"
                      [ngValue]="rateplan"
                    >
                      {{ rateplan.rpDes }}
                    </option>
                  </select>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="col-md-4">
          <ngb-accordion
            #acc="ngbAccordion"
            class="accordion-pink accordion-h50"
            activeIds="config-panel-one"
          >
            <ngb-panel id="config-panel-one" title="Services">
              <ng-template ngbPanelContent>
                <div class="accordion-contents-50 fs-13">
                  <li *ngFor="let item of serviceRateplans | keyvalue">
                    <strong>{{ item.key }}</strong>
                    <ul class="ps-3">
                      <li *ngFor="let service of $any(item).value">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          [value]="service.servicename"
                          (change)="onCheckboxChange($event, item.key)"
                        />
                        <i
                          class="bi bi-asterisk text-danger ms-1"
                          *ngIf="service.svCsind === 'true'"
                        ></i>
                        {{ service.servicename }}
                      </li>
                    </ul>
                  </li>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="col-md-4">
          <ngb-accordion
            #acc="ngbAccordion"
            class="accordion-gris accordion-h50"
            activeIds="config-panel-one"
          >
            <ngb-panel id="config-panel-one" title="Paramètres">
              <ng-template ngbPanelContent>
                <div class="accordion-contents-50">
                  <div class="my-2" *ngFor="let parametre of listParametres">
                    <ngb-accordion
                      #acc="ngbAccordion"
                      class="accordion-h50 accordion-small fs-13"
                    >
                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <i
                            class="bi bi-check-circle-fill text-success h6 mb-0 me-1"
                            *ngIf="parametre.defValue"
                          ></i>
                          <i
                            class="bi bi-x-circle-fill text-danger h6 mb-0 me-1"
                            *ngIf="!parametre.defValue"
                          ></i>
                          <span class="fw-bold">{{ parametre.prmDes }}</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="ms-3 my-2">
                            <div
                              class="pe-3"
                              *ngIf="
                                parametre.type == 'DF' || parametre.type == 'SE'
                              "
                            >
                              <input
                                type="text"
                                class="form-control form-control-sm"
                              />
                            </div>
                            <div *ngIf="parametre.nValues.length">
                              <ng-container
                                *ngFor="let nValue of parametre.nValues"
                              >
                                <div
                                  class="form-check"
                                  *ngIf="
                                    parametre.type == 'CB' ||
                                    parametre.type == 'LB'
                                  "
                                >
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    [name]="parametre.prmDes"
                                    [id]="nValue.valueDes"
                                    [checked]="
                                      parametre.defValue === nValue.value
                                    "
                                    [value]="nValue.valueDes ?? nValue.value"
                                    (change)="onRadioParameterChange(parametre, nValue)"
                                  />
                                  <label
                                    class="form-check-label"
                                    [for]="nValue.valueDes"
                                    *ngIf="
                                      nValue.valueDes != null &&
                                      parametre.type != 'DF'
                                    "
                                    >{{ nValue.valueDes }}</label
                                  >
                                  <label
                                    class="form-check-label"
                                    [for]="nValue.valueDes"
                                    *ngIf="
                                      nValue.valueDes == null &&
                                      parametre.type != 'DF'
                                    "
                                    >{{ nValue.value }}</label
                                  >
                                </div>
                              </ng-container>
                            </div>
                            <!-- <div *ngIf="!parametre.nValues.length">
                              <li>
                                <div
                                  *ngIf="
                                    parametre.type == 'CB' ||
                                    parametre.type == 'LB'
                                  "
                                >
                                  <input
                                    class="form-check-input"
                                    [name]="parametre.prmDes"
                                    type="radio"
                                    [id]="parametre.nValues.valueDes"
                                  />
                                  <label [for]="parametre.nValues.valueDes">{{
                                    parametre.nValues.valueDes
                                  }}</label>
                                </div>
                              </li>
                            </div> -->
                          </div>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <div class="content-md">
      <div class="row mb-3">
        <div class="col-md-12">
          <ngb-accordion
            #acc="ngbAccordion"
            class="accordion-blue"
            activeIds="config-panel-one"
          >
            <ngb-panel
              id="config-panel-one"
              title="Contenu du fichier CSV"
              [disabled]="contenu.length === 0"
            >
              <ng-template ngbPanelContent>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">MSISDN</th>
                      <th scope="col">SIM</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of contenu">
                      <td>
                        <i
                          [ngClass]="
                            item.s_msisdn === 'OK'
                              ? 'bi bi-check-circle-fill text-success me-1'
                              : 'bi bi-x-circle-fill text-danger me-1'
                          "
                        ></i>
                        {{ item.msisdn }}
                      </td>
                      <td>
                        <i
                          [ngClass]="
                            item.s_sim === 'OK'
                              ? 'bi bi-check-circle-fill text-success me-1'
                              : 'bi bi-x-circle-fill text-danger me-1'
                          "
                        ></i
                        >{{ item.sim }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-md-6">
          <ngb-accordion
            #acc="ngbAccordion"
            class="accordion-green"
            activeIds="config-panel-one"
          >
            <ngb-panel id="config-panel-one" title="Résumé">
              <ng-template ngbPanelContent>
                <div class="accordion-contents-40">
                  <p class="bg-gris">
                    <strong>Nom du fichier : </strong
                    ><span class="ms-auto">{{ fichier }}</span>
                  </p>
                  <p class="bg-gris">
                    <strong>Nom du client : </strong
                    ><span class="ms-auto">{{ client }}</span>
                  </p>
                  <p class="bg-gris">
                    <strong>Nombre de ligne : </strong
                    ><span class="ms-auto">{{ nbLigne }}</span>
                  </p>
                  <p class="bg-gris">
                    <strong>Nombre d'erreur : </strong
                    ><span class="ms-auto">{{ nbrError }}</span>
                  </p>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="col-md-6">
          <ngb-accordion
            #acc="ngbAccordion"
            class="accordion-orange"
            activeIds="config-panel-one"
          >
            <ngb-panel id="config-panel-one" title="Information">
              <ng-template ngbPanelContent>
                <div class="accordion-contents-40">
                  <label for="description" class="mb-1"
                    ><strong>Description courte</strong
                    ><span class="red">*</span></label
                  >
                  <textarea
                    class="form-control form-control-sm mb-2"
                    id="description"
                    rows="1"
                    [(ngModel)]="description"
                  ></textarea>
                  <label for="commentaire" class="mb-1"
                    ><strong>Commentaire</strong
                    ><span class="red">*</span></label
                  >
                  <textarea
                    class="form-control form-control-sm"
                    id="commentaire"
                    rows="3"
                    [(ngModel)]="commentaire"
                  ></textarea>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex flex-column ps-0">
    <div class="h-100 widget">
      <app-widget></app-widget>
    </div>
  </div>
</div>
