.parametre {
  margin-top: 6px;
  background-color: #fff;
  padding: 10px;
  display: flex;
}

.content-lg {
  margin-top: 6px;
  background-color: #fff;
  padding: 10px;
  height: 46.5vh;
  overflow-y: auto;
}

.content {
  margin-top: 6px;
  background-color: #fff;
  padding: 10px;
}
