<div class="title"><i class="bi bi-slash-circle me-2"></i>Désactivation</div>
<div class="row">
  <div class="col-md-9 d-flex flex-column pe-0">
    <div class="parametre">
      <div class="col-md-4 pe-2">
        <label for="formFile" class="form-label m-0 mb-2"
          ><strong>Fichier CSV</strong></label
        >
        <input
          #inputFile
          class="form-control form-control-sm me-3"
          type="file"
          id="formFile"
          (change)="onFileChange($event)"
        />
      </div>
      <div class="col-md-3 ps-3 pe-4">
        <label class="form-label m-0 mb-2"><strong>Raison</strong></label>
        <select
          class="form-select form-select-sm"
          aria-label="Default select example"
          [(ngModel)]="selectedReason"
        >
          <option
            *ngFor="let reason of reasons"
            [ngValue]="reason"
            aria-placeholder="Raison"
          >
            {{ reason.rsDes }}
          </option>
        </select>
      </div>
      <div class="example-wrapper">
        <div>
          <input
            type="checkbox"
            id="date"
            class="form-check-input me-2"
            [value]="checkDate"
            (change)="onCheckDateChange($event)"
          />
          <label for="date" class="form-check-label mb-2"
            ><strong>Date de désactivation</strong></label
          >
        </div>
        <kendo-datetimepicker
          [disabled]="!checkDate"
          format="dd/MM/yyyy HH:mm:ss"
          [(value)]="date"
        >
        </kendo-datetimepicker>
      </div>
      <div class="d-flex align-items-end ms-4">
        <button
          class="btn btn-success btn-sm"
          [disabled]="disableValider()"
          (click)="valider()"
        >
          <i class="bi bi-check2-circle me-2"></i>Valider
        </button>
      </div>
    </div>
    <div class="content-lg">
      <ngb-accordion
        #acc="ngbAccordion"
        class="accordion-blue"
        activeIds="config-panel-three"
      >
        <ngb-panel
          id="config-panel-three"
          title="Contenu du fichier CSV"
          [disabled]="contenu.length === 0"
        >
          <ng-template ngbPanelContent>
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th scope="col">MSISDN</th>
                  <th scope="col">CLIENT</th>
                  <th scope="col">STATUT</th>
                  <th scope="col">INFORMATION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of contenu">
                  <td>{{ item.msisdn }}</td>
                  <td>{{ item.client }}</td>
                  <td class="p-0">
                    <i
                      [ngClass]="
                        item.s_msisdn === 'OK' ? 'bi bi-check-lg' : 'bi bi-x-lg'
                      "
                    ></i>
                  </td>
                  <td>{{ item.notification }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="row m-0 content-md">
      <div class="col-md-6 d-flex flex-column p-0 pe-3">
        <div class="sub-title-green">Résumé</div>
        <div class="sub-content-100">
          <p class="bg-gris">
            <strong>Nom du fichier : </strong
            ><span class="ms-auto">{{ fichier }}</span>
          </p>
          <p class="bg-gris">
            <strong>Nombre de ligne : </strong
            ><span class="ms-auto">{{ nbLigne }}</span>
          </p>
          <p class="bg-gris">
            <strong>Nombre d'erreur : </strong
            ><span class="ms-auto">{{ nbrError }}</span>
          </p>
          <p class="bg-gris">
            <strong>Date de désactivation : </strong
            ><span class="ms-auto" *ngIf="checkDate">{{
              date | date : "dd/MM/yyyy h:mm:ss a"
            }}</span>
          </p>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column p-0 ps-2">
        <div class="sub-title-purple">Information</div>
        <div class="sub-content-100 form-group">
          <label for="description" class="mb-1"
            >Description courte<span class="red">*</span></label
          >
          <textarea
            class="form-control form-control-sm mb-2"
            id="description"
            rows="1"
            [(ngModel)]="description"
          ></textarea>
          <label for="commentaire" class="mb-1"
            >Commentaire<span class="red">*</span></label
          >
          <textarea
            class="form-control form-control-sm"
            id="commentaire"
            rows="3"
            [(ngModel)]="commentaire"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex flex-column ps-0">
    <div class="h-100 widget">
      <app-widget></app-widget>
    </div>
  </div>
</div>
