.parametre {
  margin-top: 6px;
  background-color: #fff;
  padding: 10px;
  display: flex;
}

.content-lg {
  margin-top: 6px;
  background-color: #fff;
  padding: 10px;
  min-height: 450px;
}

.content {
  margin-top: 6px;
  background-color: #fff;
  padding: 10px;
}
