<div class="title"><i class="bi bi-box-seam me-2"></i>Forfait</div>
<div class="card flex-row m-3 p-3">
  <div class="col-md-3">
    <label for="formFile" class="form-label m-0 mb-2"
      ><strong>Fichier CSV</strong></label
    >
    <input
      #inputFile
      class="form-control form-control-sm me-3"
      type="file"
      id="formFile"
      (change)="onFileChange($event)"
    />
  </div>

  <div
    class="col-md-3 ps-3"
    *ngFor="let item of listeServiceForfait; index as i"
  >
    <label class="form-label m-0 mb-2"
      ><strong>{{ item.prmDes }}</strong></label
    >
    <select
      class="form-select form-select-sm"
      aria-label="Default select example"
      [(ngModel)]="selectedService[i]"
      (change)="onSelectChange(item, i)"
    >
      <option
        *ngFor="let param of item.nValues"
        [ngValue]="param"
        aria-placeholder="Forfait"
      >
        {{ param.valueDes }}
      </option>
    </select>
  </div>

  <div class="example-wrapper ps-3" *ngIf="selectedService.length">
    <div>
      <input
        type="checkbox"
        id="date"
        class="form-check-input me-2"
        [value]="checkDate"
        (change)="onCheckDateChange($event)"
      />
      <label for="date" class="form-check-label mb-2"
        ><strong>Date de désactivation</strong></label
      >
    </div>
    <kendo-datetimepicker
      [disabled]="!checkDate"
      format="dd/MM/yyyy HH:mm:ss"
      [(value)]="date"
    >
    </kendo-datetimepicker>
  </div>
</div>

<div class="m-3">
  <div class="row">
    <div class="col-md-7">
      <ngb-accordion
        #acc="ngbAccordion"
        class="accordion-blue"
        activeIds="config-panel-three"
      >
        <ngb-panel id="config-panel-three" title="Contenu du fichier CSV">
          <ng-template ngbPanelContent>
            <div class="accordion-contents-40">
              <table
                class="table table-sm table-striped table-bordered"
                *ngIf="contenu.length > 0"
              >
                <thead>
                  <tr>
                    <th scope="col">MSISDN</th>
                    <th scope="col">PLAN TARIFAIRE</th>
                    <th scope="col">CLIENT</th>
                    <th scope="col">Hybrid</th>
                    <th scope="col">STATUT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of contenu
                        | slice
                          : (page - 1) * pageSize
                          : (page - 1) * pageSize + pageSize
                    "
                  >
                    <td>{{ item.msisdn }}</td>
                    <td>{{ item.plan_tarifaire }}</td>
                    <td>{{ item.client }}</td>
                    <td class="p-0">
                      <i
                        [ngClass]="
                          item.checkHybrid ? 'bi bi-check-lg' : 'bi bi-x-lg'
                        "
                      ></i>
                    </td>
                    <td class="p-0">
                      <i
                        [ngClass]="
                          item.s_msisdn === 'OK'
                            ? 'bi bi-check-lg'
                            : 'bi bi-x-lg'
                        "
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="d-flex justify-content-center"
                *ngIf="contenu.length > 0"
              >
                <ngb-pagination
                  [collectionSize]="contenu.length"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [boundaryLinks]="true"
                  [maxSize]="5"
                  size="sm"
                ></ngb-pagination>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div class="col-md-5">
      <ngb-accordion
        #acc="ngbAccordion"
        class="accordion-orange"
        activeIds="config-panel-one"
      >
        <ngb-panel id="config-panel-one" title="Information">
          <ng-template ngbPanelContent>
            <div class="accordion-contents-40">
              <label for="description" class="mb-1"
                ><strong>Description courte</strong
                ><span class="red">*</span></label
              >
              <textarea
                class="form-control form-control-sm mb-2"
                id="description"
                rows="1"
                [(ngModel)]="description"
              ></textarea>
              <label for="commentaire" class="mb-1"
                ><strong>Commentaire</strong><span class="red">*</span></label
              >
              <textarea
                class="form-control form-control-sm"
                id="commentaire"
                rows="3"
                [(ngModel)]="commentaire"
              ></textarea>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>

<div class="m-3">
  <p class="m-0 text-end">
    <button
      class="btn btn-primary btn-sm"
      *ngIf="fichier"
      (click)="openModalResume()"
    >
      <i class="bi bi-journal-text me-2"></i>Résumé
    </button>

    <button
      class="btn btn-success btn-sm ms-2"
      *ngIf="!disableValider()"
      (click)="valider()"
    >
      <i class="bi bi-check2-circle me-2"></i>Valider
    </button>
  </p>
</div>
