/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.fondNoir {
  background-color: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #D6D6D6 ; */
}

.btn-orange {
  background-color: #ff7900;
  color: white;
}

.btn-orange:hover {
  background-color: #ca5e00;
  color: white;
}

.widget {
  background-color: rgb(223, 223, 223);
  padding-top: 10px;
}

kendo-daterange {
  height: 52px !important;
}

kendo-datetimepicker,
kendo-dateinput {
  width: 175px !important;
  height: 31px !important;
  /* border: none !important; */
  border: solid 1px rgb(212, 212, 212) !important;
  font-size: 14px !important;
}

kendo-datetimepicker > .k-button {
  background-color: #0d6efd;
  color: white;
  border: #0d6efd;
}

.k-icon.k-i-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-wrapper p,
.example-col p {
  margin: 0 0;
}

.example-wrapper p:first-child,
.example-col p:first-child {
  margin-top: 0;
}

.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}

.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.event-log li {
  margin: 0;
  padding: 0.3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log li:last-child {
  margin-bottom: -1px;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.title {
  width: 100%;
  background-color: #6c757d;
  font-size: 25px;
  color: #ff7900;
  display: flex;
  justify-content: center;
  padding: 4px 0;
}

.sub-title-blue,
.sub-title-green,
.sub-title-purple,
.sub-title-orange,
.sub-title-gris,
.sub-title-yellow {
  border-radius: 4px;
  font-weight: bold;
  padding: 13px 10px;
}

.accordion-blue > .accordion-item > .accordion-header > .accordion-button {
  /* background-color: #4ab4e6; */
  color: #1273db !important;
}

.accordion-gris > .accordion-item > .accordion-header > .accordion-button {
  /* background-color: #b3b3b3; */
  color: #595959 !important;
}

.accordion-orange > .accordion-item > .accordion-header > .accordion-button {
  /* background-color: #ff7900; */
  color: #ff7900 !important;
}

.accordion-purple > .accordion-item > .accordion-header > .accordion-button {
  /* background-color: #a885d8; */
  color: #8c50e0 !important;
}

.accordion-pink > .accordion-item > .accordion-header > .accordion-button {
  /* background-color: #ffb4e6; */
  color: #ff8ad4 !important;
}

.accordion-green > .accordion-item > .accordion-header > .accordion-button {
  /* background-color: #50be87; */
  color: #50be87 !important;
}

.sub-title-green {
  background-color: #50be87;
}

.sub-title-purple {
  background-color: #a885d8;
}

.sub-title-orange {
  background-color: #ff7900;
  color: white;
}

.sub-title-gris {
  background-color: #b3b3b3;
}

.sub-title-yellow {
  background-color: #fff6b6;
}

/* .accordion-item {
  border: none !important;
  border-radius: 4px !important;
} */

/* .accordion-item > .collapse {
  border: solid 1px #dee2e6;
  border-top: none;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
} */

.accordion-header {
  height: 47px;
}

.accordion-button {
  padding: 13px 10px;
  font-weight: bold;
  font-size: 14px;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.accordion-header > .collapsed {
  height: 47px;
  border-radius: 4px !important;
}

.accordion-body {
  padding: 10px;
}

.accordion-h50 > .accordion-item > .collapse > .accordion-body {
  padding: 0;
}

.accordion-contents-50 {
  height: 28.5vh;
  overflow-y: auto;
}

.accordion-contents-40 {
  min-height: 21vh;
}

.accordion-small > .accordion-item > .accordion-header {
  height: 30px;
}

.accordion-small > .accordion-item > .accordion-header > .accordion-button {
  font-size: 13px;
  padding: 2px;
  height: 30px;
}

.sub-content,
.sub-content-100 {
  padding: 15px 10px;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sub-content-100 {
  height: 100%;
}

/* thead {
  background-color: #4bb4e6;
  color: white;
} */

.text-orange {
  font-weight: bold;
  color: #ff7900;
}

.text-blue {
  color: #428bca;
}

.text-smaller {
  font-size: smaller;
}

.child-title {
  background-color: #4bb4e6;
  font-weight: bold;
  color: white;
}

.child-content {
  border: solid 1px #4bb4e6;
  border-top: none;
  height: 100%;
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
}

.red {
  color: red;
  font-weight: bold;
  font-size: x-large;
  margin-left: 3px;
}

.bg-gris {
  background-color: #ddd;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 2px 0;
}

.input-dark {
  background-color: #636970 !important;
  border-color: #636970 !important;
  color: white !important;
}

.bg-orange {
  background-color: #ff7900;
  color: white;
}

.fs-13 {
  font-size: 13px;
}

.modal-reject .modal-dialog {
  width: 350px;
}
